<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>

    <% if @user %>
      <h1>Welcome, <%= @user.email %></h1>
    <% end %>

    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  
  <section class="section">

    <h1 class="title">User Sign Up</h1><br></h1>

        <%= form_with(model: @user, url: '/signup') do |f| %>
        <div class="field">
          <p><%= f.label :username, class: 'label' %></p>
          <div class="control">
            <%= f.text_field :username, class: 'input' %>
          </div>
         </div>
        <div class="field">
          <p><%= f.label :first_name, class: 'label' %></p>
          <div class="control">
            <%= f.text_field :first_name, class: 'input' %>
          </div>
         </div>
        <div class="field">
          <p><%= f.label :last_name, class: 'label' %></p>
          <div class="control">
            <p><%= f.text_field :last_name, class: 'input' %></p>
          </div>
         </div>
        <div class="field">
          <p><%= f.label :email, class: 'label' %></p>
          <div class="control">
            <p><%= f.email_field :email, class: 'input' %></p>
          </div>
        </div>
        <div class="field">
          <p><%= f.label :password, class: 'label' %></p>
          <div class="control">
            <p><%= f.password_field :password, class: 'input' %></p>
          </div>
        </div>
        <div class="field">
          <p><%= f.label :password_confirmation, class: 'label' %></p>
          <div class="control">
            <p><%= f.password_field :password_confirmation, class: 'input' %></p>
          </div>
        </div>
          <%= f.submit "Sign Up", class: 'button is-primary' %>
        </div>
      <% end %>

</section>
