  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  
  <section class="section">
  
 <h1 class="title">Chatter</h1><br></h1>
   <body>
     <%= form_with model: @noise do |f| %>
     <%= f.text_field :content %>
     <%= f.submit('Submit') %>
   <% end %>
      <div class="mb-6">
      </div>
      <h1 class="is-size-4 has-text-weight-medium mb-2"> Noises </h1>

  <table id='1'>

    <tbody>
      <% @noises.each do |noise| %>
        <tr>
          <td><%= noise.content %></td>
          <td><%= noise.created_at.strftime("%-I:%S %P %d %b %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

